

body{
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------------------------VISTA 1----------------------------------------------------------------------------*/
.screen1{
    background-color: rgb(84, 83, 170);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{

    width: 30em;
    height: 8em;

    border-radius: 25%;

    position: absolute;

    top:60em;
    left: 53em;
}

.fondo_1{
    width: 100vw;
    height: 99.5vh;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */


/* VIDEO */








/*--------------------------------------------------------------------VISTA 2----------------------------------------------------------------------------*/
.screen2{
    background-color:rgb(255, 0, 0);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.title_pos{
   width: 60vw;
   padding-bottom:5em;

   justify-content: flex-start;
   align-items: flex-start;

   
   
}
/* -----------------------------------------------------------CENTRO POSICIÓN SELECCIÓN----------------------------------------------------------------- */

.center{
    background-color:yellow;

    width: 90vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 0px 0;
}

/* ---------------------------------------------------------------POSICIÓN SELECCIÓN---------------------------------------------------------------------*/

.Div_Selection{
    background-color:blueviolet;

    width: 100vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    

    

}

/* -------------------------------------------------------------------SELECCIÓN---------------------------------------------------------------------------*/


.ChangSelected {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* -------------------------------------------------------------------POSICIÓN PERSONAJES-----------------------------------------------------------------*/

.Personajes1{
    background-color:rgb(255, 2, 213);
    
    width:30vw;
    height:60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    

}
.Personajes2{
    background-color:green;
    
    width:30vw;
    height:60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
    
/* -------------------------------------------------------------------PERSONAJES--------------------------------------------------------------------------*/
.selec_pj{
    position: absolute;

    top: -25px;

}


.Personaje{
    background-color:rgb(195, 255, 0);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 1.5em;

}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */



/*--------------------------------------------------------------------VISTA 3-----------------------------------------------------------------------------*/
.screen3{
    background-color:rgb(0, 0, 0);
    
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    
  
}

#battle{
    background-color:rgb(0, 0, 0);

    

    position:absolute;

    top: 52em;
    left: 50em;

    width: 15vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

 
}

.combat{
    color: aliceblue;

    position: absolute;
    
    top: -5px;
    left:50px;
    
    font-family: 'Press Start 2P', cursive;
}

.press{
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 30%;
    
}

.tatami{

    display: flex;
    justify-content: center;
    align-items: center;

    
       
        
}

.tatami_fondo{
    width: 100%;
    height: 100%;
}

.fondo{

    width:150em;
    height: 59em;

    object-fit: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */


/*--------------------------------------------------------------------VISTA 4-----------------------------------------------------------------------------*/

.screen4{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Final.jpg");
    background-size: cover;

}

.Final{
    background-color: transparent;
    
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.cartel{

    object-fit: cover;

    width: 50vw;
    height: 50vh;
}
.pantalla_final{
  
    background-color:white;

    width: 100%;
    height: 500%;
    
}
.btn_v4{
    background-color:white;
    
    width: 30em;
    height: 8em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 25%;

    position: absolute;

    top: 40em;
    left: 45em;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */