

body{
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------------------------VISTA 1----------------------------------------------------------------------------*/
.screen1{
    background-color: rgb(84, 83, 170);

    background-image: url(../img/Vista_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center ;
    align-items: flex-end ;
}

#btnSeleccion, .btn_v4{

    width: 30em;
    height: 8em;

    border-radius: 15em;


    top:60em;
    left: 53em;

    margin-bottom: 5em;
    padding: 0;

    overflow: visible;

    border: .5em solid black;

    color: inherit;
    font: inherit;

    line-height: normal;

    text-align: inherit;

    outline: none;

    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(224, 127, 0);

}
#btnSeleccion:hover, .btn_v4:hover{
    transform:scale(.95);

    background-color: rgb(200, 123, 21);
}
#btnSeleccion{

    background-image: url(../img/start.png);
}
.btn_v4{
    
    background-image: url(../img/tryagain.png);
}


.fondo_1{
    width: 100vw;
    height: 99.5vh;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */


/* GIF VISTA 2*/

.view2{
    background-image: url(../img/gif_dragon.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width:100vw;
    height:100vh;

    background-color: yellowgreen;
}






/*--------------------------------------------------------------------VISTA 3----------------------------------------------------------------------------*/
.screen2{
    background-color:rgb(1, 2, 46);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.title_pos{
   width: 60vw;
   padding-bottom:5em;

   justify-content: flex-start;
   align-items: flex-start;

   
   
}
/* -----------------------------------------------------------CENTRO POSICIÓN SELECCIÓN----------------------------------------------------------------- */

.center{
    background-color:yellow;

    width: 95vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/fondo_selec_pj.jpg);

    
}

/* ---------------------------------------------------------------POSICIÓN SELECCIÓN---------------------------------------------------------------------*/

.Div_Selection{
    background-color:rgb(1, 2, 46);

    width: 100vw;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    

    

}

/* -------------------------------------------------------------------SELECCIÓN---------------------------------------------------------------------------*/


.ChangSelected {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* -------------------------------------------------------------------POSICIÓN PERSONAJES-----------------------------------------------------------------*/

.Personajes1{
    /* background-color:rgb(255, 2, 213); */
    
    width:30vw;
    height:60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 2em;

    

}
.Personajes2{
    /* background-color:green; */
    
    width:30vw;
    height:60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2em;
    

}
    
/* -------------------------------------------------------------------PERSONAJES--------------------------------------------------------------------------*/
.selec_pj{
    position: absolute;

    top: -25px;

}


.Personaje{
    background-color:rgb(184, 47, 47);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Freezer{
    background-image: url(../img/Freezer.jpg);
    
    color:rgb(255, 0, 200) ;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.Brooly{
    background: url(../img/Brooly_B.jpg) no-repeat center;

    color:rgb(255, 0, 200) ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    

}.Celula{
    background: url(../img/Splash_Cell.jpg) no-repeat center;

    color:rgb(255, 0, 200) ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}.Jiren{
    background-image: url(../img/Jiren_B.jpg);

    color:rgb(255, 0, 200) ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}.Bills{
    background: url(../img/Bills_B.jpg) no-repeat center;

    color:rgb(255, 0, 200) ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}.Veggeto{
    background: url(../img/Veggeto_B.jpg) no-repeat center;

    color:rgb(255, 0, 200) ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   

}.C18{
    background: url(../img/ANdroid18_B.jpg) no-repeat center;

    color:rgb(255, 0, 200) ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}.Bardock{
    background: url(../img/Bardock_B.jpg) no-repeat center;

    color:rgb(255, 0, 200) ;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */



/*--------------------------------------------------------------------VISTA 4-----------------------------------------------------------------------------*/
.screen3{
    background-color:rgb(0, 0, 0);
    
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    
  
}

#battle{
    background-color:rgb(0, 0, 0);

    

    position:absolute;

    top: 52em;
    left: 50em;

    width: 15vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

 
}

.combat{
    color: aliceblue;

    position: absolute;
    
    top: -5px;
    left:50px;
    
    font-family: 'Press Start 2P', cursive;
}

.press{
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 5em 5em 0 0;
    
}

.tatami{

    display: flex;
    justify-content: center;
    align-items: center;

    
       
        
}

.tatami_fondo{
    width: 100%;
    height: 100%;
}

.fondo{

    width:150em;
    height: 59em;

    

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.spriteDer, .spriteIzq{

    width:7%;
    height:20%;

    position: absolute;

    background-position: center;
    background-size: cover;


}
.spriteDer{
   

    left: 36em;
    top: 35em;
}
.spriteIzq{
    

    left: 80em;
    top: 35em;
}
.seleccionCharacter{
    width: 20%;
    height:20%;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */


/*--------------------------------------------------------------------VISTA 5-----------------------------------------------------------------------------*/

.screen4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-image: url("../img/Final.jpg");
    background-size: cover;
    background-position: center;
}

#infoWin{
    color: white;

    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;

    font-size: xxx-large;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */